{% extends 'base.html' %}

{% block main %}
<center><img class="banner" src="/static/images/banner.png"></center>

 <section class="gradeTitulo">
			<h2>Grade</h2>
		</section>
		<section class="grade">
			<div>
				<li class="grade1">1º Semestre</li>
				<li>Comunicação e Expressão</li>
				<li>Fundamentos de Banco de Dados</li>
				<li>Introdução a Internet das Coisas</li>
				<li>Linguagem de Programação I</li>
				<li>Lógica de Programação</li>
				<li>Matemática Aplicada</li>
			</div>
			<div>
				<li class="grade1">2º Semestre</li>
				<li>Ambiente de Desenvolvimento e Operação</li>
				<li>Engenharia de Software</li>
				<li>Gestão de Projetos</li>
				<li>Língua Brasileira de Sinais</li>
				<li>Linguagem de Programação II</li>
				<li>Linguagem SQL</li>
				<li>Socidade e Sustentabilidade</li>
				<li>Tecnologia Web</li>
			</div>
			<div>
				<li class="grade1">3º Semestre</li>
				<li>Análise e Modelagem de Sistemas</li>
				<li>Desenvolvimento de Aplicações Distribuídas</li>
				<li>Estrutura de Dados</li>
				<li>Interface Homem-Computador</li>
				<li>Modelagem de Processos de Negócio</li>
				<li>Oficina de Projeto de Empresa 1 - OPE1</li>
			</div>
			<div>
				<li class="grade1">4º Semestre</li>
				<li>Arquitetura e Projeto de Sistemas</li>
				<li>Desenvolvimento para Dispositivo Móveis</li>
				<li>Desenvolvimento para Internet das Coisas</li>
				<li>Legislação e Ética</li>
				<li>Oficina de Projeto de Empresa 2 - OPE</li>
				<li>Qualidade de Software</li>
			</div>
		</section>
{% endblock main %}
