{% extends 'base.html' %}

{% block main %}
				<center><img class="banner" src="/static/images/banner.png"></center>
				<section class="Fundo">
					<div class="sobre">
					<br>
					<br>
					<br>
						<h2>Sobre a UNITEC</h2>
						<h4>A Universidade de Tecnologia nasceu da percepção de um Grupo, que desde 1998 é referência em TI, Gestão e Design, para suprir a falta de mão de obra especializada do mercado de tecnologia e oferecer uma formação completa e multidisciplinar aos alunos.</h4>
						<ul class="actions">
					<li><a href="#" class="button alt">Saiba mais</a></li>
				</ul>
					</div>
					<br>
					<br>
					<br>
				</section>
					<section class="depoimentos">
					<div class="sobre depoimentos">
					<br>
					<br>
					<br>
					<h2>Depoimentos</h2>
					<div class="wrapper">
						<div class="one"><p><img class="imagewr" src="/static/images/aluno2.jpg"></p>
							<h3>Adolfo - Gerente de TI</h3>
							<p>Hoje sou um profissional graças à UNITEC!</p></div>
						<div class="two"><p><img class="imagewr" src="/static/images/aluno3.jpg"></p>
							<h3>Adolfo - Gerente de TI</h3>
							<p>Hoje sou um profissional graças à UNITEC!</p></div>
					  </div>
					<br>
					<br>
					<br>
					</div>
				</section>
				<section id="three">
				<div class="inner">
				<article>
				<div class="content">
				<img class="icon" src="/static/images/fa-laptop.png">
				<h3>Análise e Desenvolvimento de Sistemas </h3>
				<h5>O curso forma profissionais conhecidos como Analista de Sistemas ou Desenvolvedor de Sistemas.</h5>
				<ul class="actions">
					<li><a href="#" class="button alt">Leia mais</a></li>
				</ul>
				</div>
				</article>
				<article class="dois">
				<div class="content">
				<img class="icon" src="/static/images/fa-code.png">
				<h3>Sistemas da Informação </h3>
				<h5>Este curso visa formar empreendedores, profissionais e pesquisadores focados na construção, manutenção e evolução dos sistemas computacionais de apoio às organizações. </h5>
				<ul class="actions">
					<li><a href="#" class="button alt">Leia mais</a></li>
				</ul>
				</div>
				</article>
				<article class="tres">
				<div class="content">
				<img class="icon" src="/static/images/fa-database.png">
				<h3>Banco de Dados </h3>
				<h5>Com o curso de Banco de Dados você será um profissional versátil e com habilidades para atuar com diversas plataformas e estruturas de desenvolvimento e administração de sistemas de banco de dados.</h5>
				<ul class="actions">
					<li><a href="#" class="button alt">Leia mais</a></li>
				</ul>
				</div>
				</article>
				</div>
				</section>
				<br>
				<br>
{% endblock main %}	