<script>
		function ADS() {
			var x = document.getElementById("ADS");
			if (x.style.display === "none") {
				x.style.display = "block";
			} else {
				x.style.display = "none";
			}
		}
		function BD() {
			var x = document.getElementById("BD");
			if (x.style.display === "none") {
				x.style.display = "block";
			} else {
				x.style.display = "none";
			}
		}
		function SI() {
			var x = document.getElementById("SI");
			if (x.style.display === "none") {
				x.style.display = "block";
			} else {
				x.style.display = "none";
			}
		}
		</script>
{% extends 'base.html' %}
{% block main %}
	
	<section class="conteudo">
		<div class="curso">
			<div class="imagem">
				<i class="fa fa-laptop fa-5x" aria-hidden="true"></i>
			</div>
			<div class="texto" id="ads">
				<div class="circle"></div>
				<h2>ANALISE E DESENVOLVIMENTO DE SISTEMAS</h2><p>Aprenda a desenvolver e analisar sistemas, utilizando ambientes DevOps linguagens e tecnologias de alta-produtividade e de melhor custo beneficio.</p>
				<br><a class="button alt" onclick="ADS()">Saiba mais</a>
			</div>
			<br>
			<div id="ADS">
					<center><h2 id="ADS">Sobre o curso </h2>
						O Curso Superior de Tecnologia em Análise e Desenvolvimento de Sistemas da UNITEC tem o objetivo de 
						capacitar o aluno a projetar, documentar, especificar, implementar, testar, implantar e manter 
						sistemas computacionais de informação. Para tanto, o aluno utiliza modernas ferramentas computacionais,
						bem como métodos e técnicas avançadas para projetos aplicados durante todo o ciclo de desenvolvimento 
						de sistemas, e conta, ainda, com professores altamente qualificados.
						<br>
						<br>
					<section class="grade">
							<div>
								<li class="grade1">1º Semestre</li>
								<li>Comunicação e Expressão</li>
								<li>Fundamentos de Banco de Dados</li>
								<li>Introdução a Internet das Coisas</li>
								<li>Linguagem de Programação I</li>
								<li>Lógica de Programação</li>
								<li>Matemática Aplicada</li>
							</div>
							<div>
								<li class="grade1">2º Semestre</li>
								<li>Ambiente de Desenvolvimento e Operação</li>
								<li>Engenharia de Software</li>
								<li>Gestão de Projetos</li>
								<li>Língua Brasileira de Sinais</li>
								<li>Linguagem de Programação II</li>
								<li>Linguagem SQL</li>
								<li>Socidade e Sustentabilidade</li>
								<li>Tecnologia Web</li>
							</div>
							<div>
								<li class="grade1">3º Semestre</li>
								<li>Análise e Modelagem de Sistemas</li>
								<li>Desenvolvimento de Aplicações Distribuídas</li>
								<li>Estrutura de Dados</li>
								<li>Interface Homem-Computador</li>
								<li>Modelagem de Processos de Negócio</li>
								<li>Oficina de Projeto de Empresa 1 - OPE1</li>
							</div>
							<div>
								<li class="grade1">4º Semestre</li>
								<li>Arquitetura e Projeto de Sistemas</li>
								<li>Desenvolvimento para Dispositivo Móveis</li>
								<li>Desenvolvimento para Internet das Coisas</li>
								<li>Legislação e Ética</li>
								<li>Oficina de Projeto de Empresa 2 - OPE</li>
								<li>Qualidade de Software</li>
							</div>
						</section>
					</div>

		</div>
		<div class="curso">
			<div class="imagem">
				<i class="fa fa-database fa-5x" aria-hidden="true"></i>
			</div>
			<div class="texto" id="bd">
				<div class="circle"></div>
				<h2>BANCO DE DADOS<br></h2><p>Aprenda importância da segurança de compartilhamento de dados nas empresas modernas dominando as melhores técnicas e ferramentas de criação e implementação.</p>
				<br><a class="button alt" onclick="BD()">Saiba mais</a>
			</div>
			<br>
			<div id="BD">
					<center><h2 id="BD">Sobre o curso </h2>
						O Curso Superior de Tecnologia em Análise e Desenvolvimento de Sistemas da UNITEC tem o objetivo de 
						capacitar o aluno a projetar, documentar, especificar, implementar, testar, implantar e manter 
						sistemas computacionais de informação. Para tanto, o aluno utiliza modernas ferramentas computacionais,
						bem como métodos e técnicas avançadas para projetos aplicados durante todo o ciclo de desenvolvimento 
						de sistemas, e conta, ainda, com professores altamente qualificados.
						<br>
						<br>
					<section class="grade">
							<div>
								<li class="grade1">1º Semestre</li>
								<li>Comunicação e Expressão</li>
								<li>Fundamentos de Banco de Dados</li>
								<li>Introdução a Internet das Coisas</li>
								<li>Linguagem de Programação I</li>
								<li>Lógica de Programação</li>
								<li>Matemática Aplicada</li>
							</div>
							<div>
								<li class="grade1">2º Semestre</li>
								<li>Ambiente de Desenvolvimento e Operação</li>
								<li>Engenharia de Software</li>
								<li>Gestão de Projetos</li>
								<li>Língua Brasileira de Sinais</li>
								<li>Linguagem de Programação II</li>
								<li>Linguagem SQL</li>
								<li>Socidade e Sustentabilidade</li>
								<li>Tecnologia Web</li>
							</div>
							<div>
								<li class="grade1">3º Semestre</li>
								<li>Análise e Modelagem de Sistemas</li>
								<li>Desenvolvimento de Aplicações Distribuídas</li>
								<li>Estrutura de Dados</li>
								<li>Interface Homem-Computador</li>
								<li>Modelagem de Processos de Negócio</li>
								<li>Oficina de Projeto de Empresa 1 - OPE1</li>
							</div>
							<div>
								<li class="grade1">4º Semestre</li>
								<li>Arquitetura e Projeto de Sistemas</li>
								<li>Desenvolvimento para Dispositivo Móveis</li>
								<li>Desenvolvimento para Internet das Coisas</li>
								<li>Legislação e Ética</li>
								<li>Oficina de Projeto de Empresa 2 - OPE</li>
								<li>Qualidade de Software</li>
							</div>
						</section>
					</div>

		</div>
		<div class="curso">
			<div class="imagem">
				<i class="fa fa-code fa-5x" aria-hidden="true"></i>
			</div>
			<div class="texto" id="si">
				<div class="circle"></div>
				<h2>SISTEMAS DA INFORMAÇÃO</h2><p>Administra o fluxo de informações que circulam por redes de computadores, dentro e fora de uma organização. Ele desenvolve o processamento, os sistemas de armazenamento e de recuperação de dados e disponibiliza esse material para usuários de redes, criando, adaptando e instalando programas para facilitar e organizar a consulta. Monta e gerencia banco de dados e desenha páginas de sites, funcionais e elegantes – tarefa que exige versatilidade e criatividade.</p>
				<br><a class="button alt" onclick="SI()">Saiba mais</a>
			</div>
			<br>
			<div id="SI">
					<center><h2 id="SI">Sobre o curso </h2>
						O Curso Superior de Tecnologia em Análise e Desenvolvimento de Sistemas da UNITEC tem o objetivo de 
						capacitar o aluno a projetar, documentar, especificar, implementar, testar, implantar e manter 
						sistemas computacionais de informação. Para tanto, o aluno utiliza modernas ferramentas computacionais,
						bem como métodos e técnicas avançadas para projetos aplicados durante todo o ciclo de desenvolvimento 
						de sistemas, e conta, ainda, com professores altamente qualificados.
						<br>
						<br>
					<section class="grade">
							<div>
								<li class="grade1">1º Semestre</li>
								<li>Comunicação e Expressão</li>
								<li>Fundamentos de Banco de Dados</li>
								<li>Introdução a Internet das Coisas</li>
								<li>Linguagem de Programação I</li>
								<li>Lógica de Programação</li>
								<li>Matemática Aplicada</li>
							</div>
							<div>
								<li class="grade1">2º Semestre</li>
								<li>Ambiente de Desenvolvimento e Operação</li>
								<li>Engenharia de Software</li>
								<li>Gestão de Projetos</li>
								<li>Língua Brasileira de Sinais</li>
								<li>Linguagem de Programação II</li>
								<li>Linguagem SQL</li>
								<li>Socidade e Sustentabilidade</li>
								<li>Tecnologia Web</li>
							</div>
							<div>
								<li class="grade1">3º Semestre</li>
								<li>Análise e Modelagem de Sistemas</li>
								<li>Desenvolvimento de Aplicações Distribuídas</li>
								<li>Estrutura de Dados</li>
								<li>Interface Homem-Computador</li>
								<li>Modelagem de Processos de Negócio</li>
								<li>Oficina de Projeto de Empresa 1 - OPE1</li>
							</div>
							<div>
								<li class="grade1">4º Semestre</li>
								<li>Arquitetura e Projeto de Sistemas</li>
								<li>Desenvolvimento para Dispositivo Móveis</li>
								<li>Desenvolvimento para Internet das Coisas</li>
								<li>Legislação e Ética</li>
								<li>Oficina de Projeto de Empresa 2 - OPE</li>
								<li>Qualidade de Software</li>
							</div>
						</section>
					</div>

		</div>
	</section>
{% endblock main %}
