{% extends 'base.html' %}

{% block main %}
<center><img class="banner" src="/static/images/noticia.jpg" ></center>
	
		<section class="depoimentos">
		<div class="sobre depoimentos">
		<br>
		<br>
		<br>
		<div class="wrapper">
			<div class="one"><p><img class="imagewr" src="/static/images/aluno2.jpg"></p>
				<h3>Alunos da Faculdade UNITEC vencem a 5.ª edição do Hackathon da FIESP</h3>
				<ul class="actions">
					<li><a href="noticia1.html" class="button alt">Leia mais</a></li>
				</ul>
			</div>
			<div class="two"><p><img class="imagewr" src="/static/images/aluno3.jpg"></p>
				<h3>Alunos da Faculdade UNITEC vencem a 5.ª edição do Hackathon da FIESP</h3>
				<ul class="actions">
					<li><a href="noticia2.html" class="button alt">Leia mais</a></li>
				</ul>
			</div>
		  </div>
		  <!-- <div class="wrapper">
			<div class="one"><p><img class="imagewr" src="/static/images/aluno2.jpg"></p>
				<h3>Alunos da Faculdade UNITEC vencem a 5.ª edição do Hackathon da FIESP</h3>
				<ul class="actions">
					<li><a href="#" class="button alt">Leia mais</a></li>
				</ul>
			</div>
			<div class="two"><p><img class="imagewr" src="/static/images/aluno3.jpg"></p>
				<h3>Alunos da Faculdade UNITEC vencem a 5.ª edição do Hackathon da FIESP</h3>
				<ul class="actions">
					<li><a href="#" class="button alt">Leia mais</a></li>
				</ul>
			</div>
		  </div> -->
		<br>
		<br>
		<br>
		</div>
	</section>
{% endblock main %}