{% extends 'base.html' %}

{% block main %}

<center><img class="banner" src="/static/images/banner.png"></center>
	
	<center><div class="Fundo"><br>	
	<center><ul class="corpo"><h2 id="ads">Análise e Desenvolvimento de Sistemas </h2>
	O Curso Superior de Tecnologia em Análise e Desenvolvimento de Sistemas da UNITEC tem o objetivo de 
	capacitar o aluno a projetar, documentar, especificar, implementar, testar, implantar e manter 
	sistemas computacionais de informação. Para tanto, o aluno utiliza modernas ferramentas computacionais,
	bem como métodos e técnicas avançadas para projetos aplicados durante todo o ciclo de desenvolvimento 
	de sistemas, e conta, ainda, com professores altamente qualificados.
	</br>
		</br>
		</br>
	<img class="noticiasimage" src="/static/images/adss.jpg">
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>

	<ul id=bd><h2>Bancos de Dados</h2></ul>
	Curso Superior de Tecnologia em Banco de Dados da UNITEC tem o objetivo de capacitar o aluno a projetar,
	implementar e gerenciar bases de dados. Para tanto, o aluno utiliza técnicas avançadas e modernas 
	ferramentas de programação, administração e supervisão. O curso ainda prepara o aluno para tomada de
	decisões, de forma ética, para o desenvolvimento de métodos de segurança e integridade da base de dados
	e para zelar e manter o sigilo sobre as informações.
	</br>
		</br>
		</br>
<img class="noticiasimage" src="/static/images/bd.jpg">	

	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>

	<ul id=gti><h2>Gestão de Tecnologia da Informação</h2></ul>
	O Curso Superior de Tecnologia em Gestão da Tecnologia da Informação tem como objetivo capacitar o aluno
	a definir o Sistema de Informação a ser utilizado na Gestão dos Negócios de uma empresa, seja ela da área
	do comércio, indústria ou de serviços, pública ou privada, sempre buscando ótimo desempenho do custo/benefício.</b>
	Para isso, receberá conhecimentos que lhe permitirão identificar quais informações são necessárias nos processos 
	de gestão de uma empresa, bem como nos de atualização das tecnologias de informática existentes no mercado.
	</br>
		</br>
		</br>
<img class="noticiasimage" src="/static/images/gti.jpg">
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>

	<ul id=rc><h2>Redes de Computadores</h2></ul>
	O Curso Superior de Tecnologia em Gerenciamento de Redes de Computadores tem como objetivo formar profissionais
	 atualizados com as tecnologias de redes existentes no mercado e capazes de desenvolver e implantar projetos, 
	 configurar e gerenciar ambientes de redes para otimizar o funcionamento de uma empresa, seja ela de pequeno,
	 médio ou grande porte, com qualidade e segurança nos processamentos da comunicação de dados necessários para sua operação.
	</br>
		</br>
		</br>
 <img class="noticiasimage" src="/static/images/rede.jpg">
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>
	</br>

	<ul id=adm><h2>Administração</h2></ul>
	O curso para habilitação em Administração forma profissionais dotados de uma visão sistêmica dos principais enfoques
	necessários para a gestão das organizações. Tem por meta buscar o sucesso das empresas, oferecendo ao egresso o conhecimento
	dos principais métodos e instrumentos que possibilitem os melhores resultados na gestão financeira, de mercado, de pessoas e
	clientes, entre outros.
	</br>
		</br>
		</br>
<img class="noticiasimage" src="/static/images/admin.jpg">
</ul></center>
	</br>
	</br>
	</br>
	</br>
	</div></center>
{% endblock main %}